.header .rounded-pill {
  margin-left: 7px;
  height: min-content;
}

.dropdown-homepage {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  padding: 0 20px;
}